body {
  background-color: black;
  margin: 0;
  padding: 0;
}

a {
  font-size: 16px;
  color: aquamarine;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: Verdana, sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.container {
  text-align: center;
  margin: auto;
}
