body {
  background-color: black;
  margin: 0;
  padding: 0;
}

a {
  font-size: 16px;
  color: aquamarine;
  display: flex;
  justify-content: center;
  border: 2px solid red;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  border: 2px solid red;
}

.travel {
  border: 2px solid red;
  width: 80%;
  margin: auto;
}
.travel h2 {
  font-family: Verdana, sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: white;
  border: 2px red solid;
}

img {
  border: 2px red solid;
}

.container {
  display: block;
  margin: auto;
}
