body{
    font-family: Verdana, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

a{
    font-size:16px;
    color: aquamarine;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
   
}

h1{
    font-weight: normal;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

h2{ 
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

p{
    color: gray;
    font-size: 21px;
}


footer{
    color: gray;
    text-align: right;
    font-size: 21px;
}
.travel {
    text-align: center;
}

.phone-video{
    display: flex;
    justify-content: center;
}

.phone-icon{
    text-align: center;
    padding-top: 20px;
}