body{
    background-color: black;
    margin: 0;
}

a{
    font-size:16px;
    color: aquamarine;
    display: flex;
    justify-content: center;
    border: 2px red solid;
   
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    border: 2px red solid;
}